*{
    font-family: "Open Sans", sans-serif;
}

.navbar{
    background-color: #E83E8C;
}

.logo-navbar{
    width: 132px;
    height: 53px;
}

.nav-link{
    color: #ffffff;
}

.titulo{
    font-size: 40px;
    text-align: center;
    color: #707070;
    font-weight: bold;
    margin: 4rem 0;
}

.card{
    margin-bottom: 3rem;
}

.card-title{
    font-weight: bold;
    color: #373A3C;
    font-size: 16px;
}

.card-link{
    color: #1C7CD5;
    font-size: 10px;
}

.list-group{
    font-size: 10px;
}

footer{
    background-color: #E83E8C;
}

.logo-footer{
    width: 36px;
    height: 68px;
    margin: 2rem 0;
}

.pay-section{
    background-color: #17A2B8;
    margin-top: 3rem;
}

.pay-container{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
}

.pay-container div{
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0;
}

.pay-container p{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

.pay-container i{
    font-size: 60px;
}

